// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$spa-black:#333;
$spa-white: #FFF;
$spa-gold: #E9D8B5;
$spa-blue: #185989;
$spa-grey: #CCC;

$light-grey: #EFEFEF;

$blue-light: #5392C1;

$blue-dark: #172C42;
$blue-darker: #0E2737;
$blue-darkest: #021F37;

$gold-primary: #E9D8B5;
$gold-primary-hover: #B49A64;

$blue-primary: $spa-blue;

$primary-colour: $spa-blue;
$secondary-colour: $spa-white;


$primary: $primary-colour; // Thats a sample how you could change a BootStrap variable.
$secondary: $secondary-colour;
