// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
	font-family: 'proxima-nova', Arial, Verdana, serif;
	font-weight: 200;
	font-size: 16px;
	background-color: $spa-white;
	color: $black;
}

.admin-bar .fixed-top {
  top: 32px;
}
@media (max-width: 767px) {
	.admin-bar .fixed-top {
	  top: 46px;
	}
}

/*************/
/* PRELOADER *
/*************/
.preloader {
	background: none repeat scroll 0 0 $blue-darkest;
	position: fixed;
	z-index: 1031; /* to sit above BS4 .position-fixed */
	height: 100%;
	width: 100%;
	overflow:hidden!important;
	top: 0;
}
.status {
	background: url("../img/loading.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: none;
	height: 104px;
	left: calc(50% - 100px);
	margin: 0 auto;
	opacity: 1;
	overflow-y: hidden;
	position: absolute;
	text-align: center;
	top: calc(50% - 52px);
	width: 100%;
	z-index: 111;
}

body.home {
	background-color: $blue-darkest;
	color: $spa-white;
}

h1, h2, h3 {
	color: inherit;
	text-transform: uppercase;
}

#page-wrapper {
	margin-top: 6rem;
}

#wrapper-navbar {
	background-color: $blue-darkest;
}

.elementor-editor-active{
	#wrapper-navbar {
		display:none;
	}
}


/* -- START BUTTONS -- */
.btn {
	border-radius: 0;
	text-transform: uppercase;
	font-size: 1rem
}
.btn-lg {
	padding: 1rem 4rem;
}
@media only screen and (max-width: 1024px) {
	.btn {
		font-size: 1rem;
	}
	.btn-lg {
		padding: 0.5rem 1rem;
	}
}
/* -- END BUTTONS -- */

/* -- START HEADER -- */
nav.navbar {
	margin-top: 0rem;
	padding: 0;
	.nav-item.show {
		background: $gold-primary;
	}
	.nav-link {
		height: 90px;
		padding: 1rem !important;
		display: flex;
		align-items: center;
		color: $spa-white !important;
	}
	.btn {
		padding: 0.5rem 1.5rem;
		margin-right:1rem;
	}
	div :last-child {
		margin-right:0;
	}
	.btn-register {
		background-color: $gold-primary;
	}
}
@media only screen and (max-width: 767px) {
	nav.navbar {
		.navbar-nav {
			background-color: $blue-darkest;
			padding: 0;
		}
		.nav-link {
			height: initial;
		}
	}
}
@media only screen and (max-width: 767px){
	nav.navbar {
		.navbar-brand {
			order: 2;
			margin-right: 0;
		}
		.navbar-toggler {
			order: 1;
			margin-left: 1rem;
			margin-right: 1rem;
		}
		.navbar-collapse {
			order: 4;
		}
		.btn-wrapper {
			order: 3;
			.btn {
				font-size: 0.6rem;
    			width: 88px;
    			line-height: 1.2;
			}
			.btn-secondary {
				display:none;
			}
		}
	}
	.site-under-navigation {
		display:none;
	}
}
.dropdown-menu {
	background-color: $blue-darkest;
	color:$spa-white;
	border: 2px solid $gold-primary;
	padding: 0;
	margin: 0;
	border-radius: 0;
	.dropdown-item {
		background-color: $gold-primary;
		color:$spa-white;
	}
	.dropdown-item:hover {
		background-color: $gold-primary-hover;
		color: $spa-white;
	}
}

.site-under-navigation {
	.event-meta {
		padding: 0.5rem 0;
		color: $spa-white;
		.date {
		}
		.location {
		}
	}
	.social-media {
		padding: 0.5rem 0;
		text-align: right;
		ul {
			margin-bottom:0;
			li a {
				color: $spa-white;
				font-size: 1.2rem;
			}
		}
	}
}

.bg-navbar {
	background-color: $blue-darkest;
	border-bottom: 1px solid $gold-primary;
}
.page-template-default, .page-template-brand-page, .page-template-general-brand-page, .page-template-general-persons-list, .page-template-events {
	#wrapper-navbar {
		border-bottom: 1px solid $gold-primary;
	}
}
/* -- END HEADER -- */

/* -- START STANDARD SECTION -- */
.section-standard {
	text-align:center;

	.entry-header {
		.title {
			font-size: 1.8rem;
		}
	}
	.title {
		color: inherit;
		font-size: 1.8rem;
		font-weight: 600;
		margin: 3rem  0 2rem;
	}
	.content-wrapper {
		margin-bottom: 2rem;
	}
}
.section-padding {
	padding: 3rem 0;
}
.section-top-padding {
	padding: 3rem 0 0 0;
}
.section-bottom-padding {
	padding: 0 0 3rem 0;
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 575px) {
	.section-standard {
		text-align:center;

		.title {
			color: $secondary-colour;
			font-size: 1.2rem;
			font-weight: 600;
			margin: 1rem  0;
		}
		.content-wrapper {
		}
	}
	.section-padding {
		padding: 2rem 0;
	}
	.section-top-padding {
		padding: 2rem 0 0 0;
	}
	.section-bottom-padding {
		padding: 0 0 2rem 0;
	}
}
/* -- END STANDARD SECTION -- */

/* -- START FOOTER -- */
.footer {
	padding: 40px 0 0;
	background-color: $blue-darkest;
	border-top: $gold-primary 1px solid;
}

.footer .footer-panel ul{
	list-style:none;
}
.footer .footer-panel.footer-logo-panel h5 {
	position: absolute;
}

.footer .footer-panel.footer-logo-panel .footer-logo {
	margin-bottom: 25px;
	display: block;
}

.footer .footer-panel.footer-logo-panel p,
.footer .footer-panel.footer-logo-panel p a {
	color: #FFFFFF;
	font-size: 14px;
	font-family: "Roboto", "Arial", Helvetica, sans-serif;
	font-weight: 400;
}

.footer .footer-panel.footer-logo-panel p a {
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
	position: relative;
}

.footer .footer-panel.footer-logo-panel p a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background-color: #3399CC;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.footer .footer-panel.footer-logo-panel p a:hover {
	color: #3399CC;
}

.footer .footer-panel.footer-logo-panel p a:hover::after {
	width: 100%;
}

.footer .footer-panel ul li a {
	color: #FFFFFF;
	font-size: 14px;
	font-family: "Roboto", "Arial", Helvetica, sans-serif;
	font-weight: 400;
}

.footer .footer-panel h5 {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 25px;
}

.footer .footer-panel li a {
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	/* -webkit-transition: all 0.5s linear; */
	/* transition: all 0.5s linear; */
}

.footer .footer-panel li a:hover {
	/* padding-left: 10px; */
	text-decoration:  underline;
}

.footer {
	.footer-panel.social-media {
		li {
			a {
				font-size: 1.2rem;
			}
		}
	}
}

.copyrights-info,
.copyrights-info a {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 400;
	padding: 15px 0 30px;
	margin: 0;
}

.copyrights-info a {
	position: relative;
}

.copyrights-info a:hover {
	color: #3399CC;
}
/* -- END FOOTER -- */

/* -- START HOMEPAGE -- */

.hero { 
	position:relative;
	height: 80vh;
	min-height: 34rem;
	overflow:hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
	.hero-video { 
		video {
			position: absolute;
			bottom: 50%; 
			right: 50%;
			-webkit-transform: translateX(50%) translateY(50%);
			transform: translateX(50%) translateY(50%);
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: 1;
			overflow: hidden;
		}
	}
	.hero-image {
		background-image: url( 'https://awards.sportspro-ott.com/wp-content/uploads/2019/07/OTT_Awards_Background_1920x1080px_v2-e1563895767953.jpg' );
		background-size: cover;
		background-position: center center;
		height: 100%;
	}
	
	.hero-slider {
		.hero-slider-item {
			position: relative;
			height: 80vh;
			min-height: 34rem;

			/* add this inline to HTML element */
			/* background-image: url( 'https://awards.sportspro-ott.com/wp-content/uploads/2019/07/OTT_Awards_Background_1920x1080px_v2-e1563895767953.jpg' ); */
			
			.hero-slider-image {
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
			}
			.hero-slider-image:after {
				content:'';
				position:absolute;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
				background: #000;	
				opacity: 0.3;
				z-index: 1;
			}
		}
		.hero-slider-item.video .hero-overlay iframe.embed-responsive-item {
			visibility: visible;
		}
		.hero-slider-item.video .hero-overlay img.embed-responsive-item {
			visibility: hidden;
		}
	}
	.hero-slider.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
	.hero-overlay {
		width: 800px;
		margin-top: 0;
		margin-left: -400px;
		text-align:center;
		padding: 0 1rem;
		position: absolute;
		left: 50%;
		top:50%;
		transform: translateY(-50%);
		z-index: 3;
		color: white;
		.logo {		
			img {
				max-width: 400px;
				width: 100%;
				margin: 1rem auto;
			}
		}
		h1, h2, h3, h4 {
			text-transform: none;
		}
		h2:nth-last-child(2) {
			margin-bottom: 2rem;
		}
		ul li a {
			padding: 1rem;
		}
	}
}
.hero-video:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index:2;
}

@media (min-width: 576px) and (max-width: 767px) {
	.hero {
		height: 100vh;
		min-height: 48rem;
		
		.hero-slider { 
			.hero-slider-item {
				height: 24rem;
			}
		}
		.hero-video {
			height: 100%;
			/* add this inline to HTML element */
			/*
			background-image: url( 'https://awards.sportspro-ott.com/wp-content/uploads/2019/07/OTT_Awards_Background_1920x1080px_v2-e1563895767953.jpg' );
			*/
			background-size: cover;
			background-position: center center;
			
			iframe.embed-responsive-item {
				visibility: hidden;
			}
			.embed-responsive:after {
				content:'';
				position:absolute;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
				background: #000;	
				opacity: 0.3;
				z-index: 1;
			}
		}
		.hero-overlay {			
			width: 400px;
			margin-top: 0;
			margin-left: -200px;
			text-align:center;
			position: absolute;
			left: 50%;
			top:50%;
			transform: translateY(-50%);
			z-index: 3;
			color: white;
			
			.logo {
				img {
					max-width: 200px;
					margin-bottom: 2rem;
				}
			}
			.button-wrapper {
				ul {
					li {
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}

@media (max-width: 420px) {
	.hero {
		height: 100vh;
		min-height: 24rem;
		
		.hero-slider { 
			.hero-slider-item {
				height: 85vh;
				min-height: 24rem;
			}
		}
		.hero-video {
			height: 100%;
			/* add this inline to HTML element */
			/*
			background-image: url( 'https://awards.sportspro-ott.com/wp-content/uploads/2019/07/OTT_Awards_Background_1920x1080px_v2-e1563895767953.jpg' );
			*/
			background-size: cover;
			background-position: center center;
			
			iframe.embed-responsive-item {
				visibility: hidden;
			}
			.embed-responsive:after {
				content:'';
				position:absolute;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
				background: #000;	
				opacity: 0.3;
				z-index: 1;
			}
		}
		.hero-overlay {			
			width: 320px;
			margin-top: 0;
			margin-left: -160px;
			text-align:center;
			position: absolute;
			left: 50%;
			top:50%;
			transform: translateY(-50%);
			z-index: 3;
			color: $spa-white;
			.logo {
				img {
					max-width: 250px;
					margin-bottom: 1rem;
				}
			}
			.meta {
				font-size: 1.2rem;
			}
			.tagline {
				font-size: 1.4rem;
			}
			h2:nth-last-child(2) {
				margin-bottom: 1rem;
			}
			.button-wrapper {
				ul {
					li {
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}

/*
.hero {
	position: relative;
	overflow: hidden;
	min-height:54rem;
	max-height: 60rem;
	background-size: cover;
	background-position: center center;
	
	video {
		min-height:54rem;
		max-height: 60rem;
		width: 100%;
		object-fit: fill;
	}
	
	.hero-overlay {
		position: absolute;
		top: 18%;
		left: 50%;
		width:800px;
		margin-top: 0px;
		margin-left: -400px;
		z-index: 2;
		.surtitle {
			font-weight: 400;
			font-size:1.4rem;
			text-transform: none;
		}
		.hero-title {
			font-weight: 600;
			font-size:3rem;
		}
		.tagline {
			text-transform: none;
			font-size: 2rem;
			margin-bottom:2rem;
		}
		.details {
			font-size: 1.4rem;
			text-transform: none;
			margin-bottom: 2rem;
			span {
			}
		}
		.logo-wrapper {
			margin-bottom: 2rem;
			
			.logo {
				max-width: 400px;
			}
		}
	}
}
@media only screen and (max-width: 1024px) {
	.hero {
		position: relative;
		overflow: hidden;
		min-height:42rem;
		max-height: 60rem;
		
		video {
			min-height: 42rem;
			max-height: 60rem;
		}
		
		.hero-overlay {
			position: absolute;
			top: 20%;
			left: 50%;
			width:600px;
			margin-top: 0px;
			margin-left: -300px;
			z-index: 2;
			.surtitle {
				font-weight: 400;
				font-size:1.4rem;
				text-transform: none;
			}
			.hero-title {
				font-weight: 600;
				font-size:2.5rem;
			}
			.tagline {
				text-transform: none;
				font-size: 1.8rem;
				margin-bottom:2rem;
			}
			.subtitle {
				font-size: 1.4rem;
				text-transform: none;
				margin-bottom: 2rem;
				span {
				}
			}
			.logo-wrapper {
				margin-bottom: 2rem;
				
				.logo {
					max-width: 300px;
				}
			}
		}
	}
}
@media only screen and (max-width: 992px) {
	.hero {
		min-height:36rem;
		video {
			min-height:36rem;
		}
		.hero-overlay {
			top: 24%;
			.surtitle {
				font-weight: 400;
				font-size:1rem;
				text-transform: none;
			}
			.hero-title {
				font-weight: 600;
				font-size:2rem;
			}
			.tagline {
				text-transform: none;
				font-size: 1.4rem;
				margin-bottom:2rem;
			}
			.subtitle {
				font-size: 1rem;
				text-transform: none;
				margin-bottom: 2rem;
				span {
				}
			}
			.logo-wrapper {
				margin-bottom: 2rem;
				.logo {
					max-width: 300px;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.hero {
		min-height: 34rem;
		video {
			min-height:34rem;
		}
		.hero-overlay {
			top:22%;
			max-width: 400px;
			margin-left: -200px;
			.surtitle {
				font-weight: 400;
				font-size:1rem;
				text-transform: none;
			}
			.hero-title {
				font-weight: 600;
				font-size:2rem;
			}
			.tagline {
				text-transform: none;
				font-size: 1.4rem;
				margin-bottom:1rem;
			}
			.subtitle {
				font-size: 1rem;
				text-transform: none;
				margin-bottom: 2rem;
				span {
				}
			}
			.logo-wrapper {
				margin-bottom: 2rem;
				.logo {
					max-width: 200px;
				}
			}
			ul.btn-wrapper {
				li {
					display:block;
					margin:1rem;
					.btn {
						padding:0.5rem;
						font-size: 1rem;
						min-width:200px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	.hero {
		min-height: 38rem;
		video {
			min-height:38rem;
		}
		.hero-overlay {
			top:18%;
			max-width: 300px;
			margin-left: -150px;
			.surtitle {
				font-weight: 400;
				font-size:1rem;
				text-transform: none;
			}
			.hero-title {
				font-weight: 600;
				font-size:2rem;
			}
			.tagline {
				text-transform: none;
				font-size: 1.4rem;
				margin-bottom:1rem;
				font-style: italic;
			}
			.subtitle {
				font-size: 1rem;
				text-transform: none;
				margin-bottom: 2rem;
				span {
				}
			}
			.logo-wrapper {
				.logo {
					max-width: 200px;
				}
			}
			ul.btn-wrapper {
				li {
					display:block;
					margin:1rem;
					.btn {
						padding:0.5rem;
						font-size: 1rem;
						min-width:200px;
					}
				}
			}
		}
	}
}
.hero:before {
	content: "";
	position: absolute;
	background:  rgba(33, 39, 57, 0.2);
	background-image: linear-gradient(transparent, transparent, transparent, $blue-darkest);
	
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
@media only screen and (max-width: 992px) {
	.hero:before {
		content: "";
		position: absolute;
		background:  rgba(33, 39, 57, 0.8);
		background-image: linear-gradient(transparent, transparent, $blue-darkest);
		
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 1;
	}
}
@media only screen and (max-width: 767px) {
	.hero:before {
		content: "";
		position: absolute;
		background:  rgba(33, 39, 57, 0.8);
		background-image: linear-gradient(transparent, $blue-darkest);
		
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 1;
	}
}
*/

.statistics {
	.figure {
		width: 100%;
		text-align:center;
		.figure-img {
			margin-bottom: 1rem;
		}
		.figure-caption {
			color: inherit;
			font-size: 1.4rem;
			.figure-count {
				font-size: 1.4rem;
				font-weight: 600;
			}
			.figure-heading {
				font-weight: 600;
				font-size: 1rem;
			}
		}
	}
}
@media (max-width: 575px) {}
@media (min-width: 576px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}

.about {
	color: $secondary-colour;
	background-color: $blue-darkest;
	.img-wrapper {
		margin-bottom: 2rem;
		position: relative;
		figure i {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 80px;
			height: 80px;
		}
		img {
			max-width: 540px;
			width: 100%;
		}
	}
}

.categories {
	background-color: $blue-darkest;
	color: $gold-primary;
	.grid {

		div > :nth-child(8n+1) .grid-item,
		div > :nth-child(8n+3) .grid-item,
		div > :nth-child(8n+6) .grid-item,
		div > :nth-child(8n) .grid-item {
    		background-color: $blue-dark;
		}

		div > :nth-child(8n+2) .grid-item,
		div > :nth-child(8n+4) .grid-item,
		div > :nth-child(8n+5) .grid-item,
		div > :nth-child(8n+7) .grid-item {
    		background-color: $blue-darker;
		}

		a {
			color: $gold-primary;
			text-decoration: none;
		}
		.grid-item {
			padding: 2rem;
			height: 100%;

			.img-wrapper {
				/* margin-bottom:1rem; */

				.icon {
					max-width: 150px;
				}
			}
			.content-wrapper {
				margin-bottom: 0;
				h2 {
					font-size: 1.2rem;
				}
				h3 {
					font-size:0.9rem;
					margin-bottom:0.5rem;
				}
			}
		}
	}
	.grid.reverse {
		div > :nth-child(odd) .grid-item {
			background-color: $blue-darker;
		}
		div > :nth-child(even) .grid-item {
			background-color: $blue-dark;
		}
	}
	.btn-wrapper {
		padding: 2rem 0;
	}
}

.category.modal-wrapper {
	color: $gold-primary;
	background: $blue-dark;
	.top {
		text-align:center;
		padding: 2rem 0 0;

		.figure {
			.figure-img {
				max-width: 200px;
			}
			.figure-caption {
				color: $gold-primary;
				text-transform: uppercase;
			}
		}
	}
	.bottom {
		padding: 0 2rem 2rem;
	}
}
.vbox-inline {
	height: initial;
}

.partners {
	background-color: $blue-darkest;
	color: $secondary-colour;
	
	.partners-carousel {
		.carousel-img {
			max-width: 200px;
		}
	}
}

.how-to-enter {
	color: $secondary-colour;
	background-color: $blue-darkest;
	
	.grid {
		div > :nth-child(odd) .grid-item .img-wrapper:after {
			background-image: url(../img/icons/arrow-1.png);
		}
		div > :nth-child(even) .grid-item .img-wrapper:after {
			background-image: url(../img/icons/arrow-2.png);
		}
		div > :nth-child(5) .grid-item .img-wrapper:after {
			width: 0;
			background-image: none;
		}
		div > :nth-child(n) .grid-item .content-wrapper:after {
			background-image: none;
		}
		
		.grid-item {
			.img-wrapper {
				margin-bottom: 2rem;
				position: relative;
				
				.icon {
					max-width: 150px;
				}
			}
			.img-wrapper:after {
			    content: "";
				display: block;
				position: absolute;
				width: 100px;
				height: 100px;
				background-size: cover;
				left: 100%;
				margin-left: -50px;
				z-index: 1;
				top: 50%;
				margin-top: -50px;
			}
			
			.content-wrapper {
				padding: 2rem;
				p {
					font-size: 0.8rem;
					font-weight: 600;
					span {
						font-weight: 400;
					}
				}
			}
			.content-wrapper:after {
				content: "";
				display: block;
				position: absolute;
				width: 100px;
				height: 100px;
				background-size: cover;
				left: 50%;
				margin-left: -50px;
				z-index: 1;
				top: 100%;
				margin-top: -50px;
			}
		}
		.grid-item {
		}
	}
	
	@media only screen and (max-width: 992px) {
		.grid {
			div > :nth-child(3) .grid-item .img-wrapper:after {
				background-image: none;
				width:0;
			}
		}
	}
	@media only screen and (max-width: 767px) {
		.grid {
			div > :nth-child(odd) .grid-item .img-wrapper:after {
				background-image: url(../img/icons/arrow-1.png);
				width: 100px;
			}
			div > :nth-child(even) .grid-item .img-wrapper:after {
				background-image: url(../img/icons/arrow-2.png);
			}
			div > :nth-child(2) .grid-item .img-wrapper:after {
				background-image: none;
				width:0;
			}
			div > :nth-child(4) .grid-item .img-wrapper:after {
				background-image: none;
				width:0;
			}
			div > :nth-child(5) .grid-item .img-wrapper:after {
				background-image: none;
				width:0;
			}
			.grid-item {
				.img-wrapper {
					margin-bottom: 0;
				}
			}
		}
	}
	@media only screen and (max-width: 575px) {
		.grid {
			div > :nth-child(n) .grid-item .img-wrapper:after {
				background-image: none;
				width:0;
			}
			div > :nth-child(odd) .grid-item .content-wrapper:after {
				content:"";
				background-image: url(../img/icons/arrow-down-1.png);
				width:100px;
			}
			div > :nth-child(even) .grid-item .content-wrapper:after {
				content:"";
				background-image: url(../img/icons/arrow-down-2.png);
				width:100px;
			}
			div > :last-child .grid-item .content-wrapper:after {
				content:"";
				background-image: none;
				width:0;
			}
			div > div {
				margin-bottom: 3rem;
			}
			div:last-child {
				margin-bottom:0;
			}
		}
	}
	.btn-wrapper {
		padding: 2rem 0;
	}
}

.judges {
	.title {
		margin: 1rem 0 1rem;
	}
	.img-wrapper {
		figure i {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 80px;
			height: 80px;
		}
	}
}
/*
.judges.section-standard {
	.title {
		color: $spa-white;
		margin: 0rem 0 1rem;
	}
}
*/

.key-dates {
	.grid {
		margin: 2rem 0;
		.grid-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			background: rgba(0, 0, 0, 0.4);
			padding: 2rem;
			border: 3px solid $spa-white;
			height: 14rem;
			margin-bottom: 2rem;
			.milestone-title {
				 font-size: 1.2rem;
			}
			.milestone-date {
				font-size: 2rem;
				font-weight: 600;
			}
		}
	}
}
/*
.key-dates:after{
	content: "";
	position: absolute;
	background:  rgba(33, 39, 57, 0.2);
	background-image: linear-gradient(transparent, transparent, transparent, $blue-darkest);
	
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
*/

.testimonials {
	display:flex;
	align-items:center;
	justify-content:center;
	background-color: $blue-darkest;
	color: inherit;
	
	.testimonial {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.testimonials-item {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		
		.content-wrapper {
			height: 100%;
			padding: 2rem;
			text-align:center;
			
			.blockquote {
				font-size: 1.2rem;
				margin-bottom: 0;
				.blockquote-footer {
					color: inherit;
				}
			}
		}
	}
	.testimonials-item:before {
		padding-top: 50%;
		display:block;
		content:'';
	}
	.testimonials-item.testimonials-item-half:before {
		padding-top: 100%;
		display:block;
		content:'';
	}
}
@media (max-width: 575px) {
	.testimonials .row :nth-last-child(2) {
		order:1;
	}
	.testimonials {
		.testimonials-item {
			.content-wrapper {
				padding: 1rem;
				.blockquote {
					font-size: 0.8rem;
					margin-bottom: 0;
				}
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.testimonials .row :nth-last-child(2) {
		order:1;
	}
	.testimonials {
		.testimonials-item {
			.content-wrapper {
				padding: 1rem;
				.blockquote {
					font-size: 0.8rem;
					margin-bottom: 0;
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.testimonials {
		.testimonials-item {
			.content-wrapper {
				padding: 1rem;
				.blockquote {
					font-size: 0.8rem;
					margin-bottom: 0;
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.testimonials {
			.testimonials-item {
				.content-wrapper {
					padding: 1rem;
					.blockquote {
						font-size: 1rem;
						margin-bottom: 0;
					}
				}
			}
		}
	}
@media (min-width: 1200px) {}

.cta {
	display: flex;
	align-items: center;
	min-height:24rem;
	background-image: url( https://via.placeholder.com/1920x1080);
	background-position: center center;
	background-size: cover;
	position: relative;
	.container {
		z-index:1;
	}
	.section-header {
		.title {
			color: $spa-white;
			text-transform: none;
			font-size: 2rem;
			margin-bottom: 1rem;
		}
		hr {
		    border-color: $spa-gold;
		    width: 8%;
    		min-width: 5rem;
    		border-width: 3px;
    		margin: 0 auto 2rem;
		}
	}
	.section-footer {
		.button-wrapper {
			.btn {
				width: 20rem;
				margin-bottom: 2rem;
			}
		}
	}
}
.cta:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
@media (max-width: 575px) {
	.cta {
		min-height:24rem;
		.section-header {
			.title {
			}
		}
		.section-footer {
			.button-wrapper {
				.btn {
					width:15rem;
				}
			}
			.list-inline {
				margin-bottom: 0;
				.list-inline-item:last-child {
					.btn {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}

.event-countdown {
	display: flex;
	align-items: center;
	padding: 0;
	
	.dismiss {
		font-size: 0.8rem;
		color: $spa-black;
		a {
			color: inherit;
			text-decoration: underline;
		}
	}
	
	p {
		margin-bottom: 0;
	}
	
	.btn {
		padding: 0.5rem;
	}
}
@media (max-width: 1199px) {
	.event-countdown {
		padding: 0.5rem 0;
	}
}
@media (max-width: 575px) {
	.event-countdown {
		display: none;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.event-countdown {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}

/*
.event {
	background-color: $grey;
	color: $black;
	.title {
		color: $black;
		margin: 1 0 1rem;
	}
	.img-wrapper {
		figure i {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 80px;
			height: 80px;
		}
	}
}
.event.section-standard {
	.title {
		color: $black;
		margin: 0rem 0 1rem;
	}
}
*/

/* -- END HOMEPAGE -- */

/* -- START BRAND PAGE -- */
.section-brand {
	background-color: $blue-darkest;
	color: $spa-white;
	.header-wrapper {
		padding: 2rem 2rem 0;
		text-align:center;
		.title {
			text-align:center;
			font-size: 1.2rem;
			font-weight: 600;
		}
	}
	.section-wrapper{
		padding: 0 2rem;
		section {
			margin: 2rem 0 0;
			.content-wrapper {
				text-align: justify;
				dl, ol, ul {
					margin-left: 2rem;
				}
			}
			.button-wrapper {
				text-align: center;
				margin: 0 auto;
				padding: 2rem 0;
			}
		}
		.grid {
			color:white;
			.figure{
				.figure-caption {
					color: $spa-white;
					text-align: left;
					h2 {
						font-size: 1rem;
						font-weight: 600;
						text-align: center;
						margin-bottom:3rem;
					}
					ul {
						padding-left: 1rem;
					}
					hr {
						color: $spa-white;
						border: 1px solid $spa-white;
					}
				}
			}
		}
		> :last-child {
			padding-bottom: 2rem;
		}
	}
}
/* -- END BRANDED PAGE */

/* -- START PAGE -- */
	
	.content-start {
		margin-top: 8rem;
	}
	@media only screen and (max-width: 767px) {
		.content-start {
			margin-top: 5.7rem;
		}
	}
	
	
	.section-page {
		background: $light-grey;
		h1, h2, h3 { text-transform: none !important; margin-bottom: 1rem; }
		h2 { font-size:1.4rem; }
		h3 { font-size: 1.2rem; }
		h4 { font-size: 1.1rem; }

		.container {
			background: $spa-white;
			.entry-header {
				padding: 2rem 2rem 0;
				text-align:center;

				.title {
					text-transform: none;
					font-size:2rem;
					margin: 1rem 0 0.5rem;
				}
				
				hr {
					width: 6rem;
					border-top: solid 3px $primary-colour;
					margin: 0 auto;
					margin-top: 18px;
					margin-bottom: 25px;
				}
			}
			.entry-content {
			    padding: 0 2rem;
			    text-align: left;
			    /*
				section {
					margin: 2rem 0 0;
					.content-wrapper {
						text-align: justify;
						dl, ol, ul {
							margin-left: 2rem;
						}
					}
					.button-wrapper {
						text-align: center;
						margin: 0 auto;
						padding: 2rem 0;
					}
				}
				.grid {
					.figure{
						.figure-caption {
							color: $black;
							text-align: center;
							h2 {
								font-size: 1.2rem;
								font-weight: 600;
								text-align: center;
								margin-bottom:2rem;
							}
						}
					}
				}
				*/
				> :last-child {
					padding-bottom: 2rem;
				}
			}
			.entry-footer {
				padding: 0 2rem;
				text-align: left;
			}
		}
	}
/* -- END PAGE -- */

/* -- START LIST */
.section-list {
	background-color: $blue-darkest;
	color: $spa-white;

	.title {
		text-align:center;
		font-size: 1.8rem;
		font-weight: 600;
	}
}
/* -- END LIST */

/* -- START PERSONS LIST -- */
.persons-list{
	margin-top: 2rem;
	margin-bottom: 2rem;

	a {
		color:$spa-white; 
	}
	a:hover {
		text-decoration:none;
	}
	.person-card {
		border-radius: 0;
		border: 0;

		.card-header {
			background-color: inherit;
			border-bottom: 0;
			padding: 0;
			font-size: 0;

			figure {
				width: 100%;
				position: relative;
				margin-bottom: 0;
				border-bottom: 0;
				overflow: hidden;

				img {
					display: inline-block;
					border-radius: 0;
					transition: transform 1s ease;
				}
				.figure-caption {
					text-align: left;
					position: absolute;
					z-index: 2;
					width: 100%;
					bottom: 0;
					left: 0;
					color: $spa-white;
					padding: 1rem;


					.card-title {
						font-size: 1rem;
						margin-bottom: 0.5rem;
						text-transform: capitalize;
						font-weight: 600;
					}
					.card-position {
						font-size: 0.9rem;
						margin-bottom: 0rem;
					}
					.card-company {
						font-size: 0.9rem;
						font-weight: 600;
						margin-bottom: 0;
					}
				}
			}
			figure:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(0,0,0,.2);
				z-index: 1;
			}
			figure:hover {
				img {
					transform: scale( 1.25 );
				}
			}
		}
		.card-body {
			border-top: 0;
			text-align:center;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			
			a {
				text-decoration: none;
				color:inherit;
			}
			.card-title{
				font-size: 1.4rem;
				color: $spa-black;
			}
			.card-position {
				margin-bottom: 0.5rem;
				color: $spa-black;
			}
			.card-company {
				color: $spa-grey;
				font-weight: 600;
				margin-bottom: 4rem;
			}
			.card-logo {
				height: 5rem;
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					max-height: 5rem;
					width: auto;
				}
			}
		}
	}
}
/*
.person.modal-wrapper {
	color: $spa-black;

	.top {
		padding: 2rem;
		display: flex;
		align-items: flex-end;
		.figure{
			max-width: 8rem;
			margin-bottom:0;
			img{
			}
		}
		.title {
			padding: 0 1rem;
			h3 {
				text-transform:none;
			}
			p {
				margin-bottom:0
			}
			.company {
				font-weight: 600;
			}
		}
	}
	.bottom
	{
		padding: 2rem;
	}
}
*/
.person.modal-wrapper {
	color: $spa-white;
	background-color: $blue-light;

	.header{
		padding: 0 0 2rem;
		display: flex;
		align-items: flex-end;
		.figure {
			max-width: 12rem;
			margin-bottom:0;

			img {
				margin-bottom: 0;
			}
		}
		.title {
			padding: 0 1rem;
			h3 {
				font-size: 1.4rem;
				text-transform:none;
				margin-bottom: 0;
			}
			p {
				margin-bottom:0.5rem;
			}
			.company {
				font-weight: 600;
				margin-bottom: 0.5rem;
			}
			.logo {
				img {
					height: 3rem;
				}
			}
			ul.contacts {
				padding: 0.5rem 0;
				margin-bottom: 0;
				li {
					padding: 0.25rem;
					a {
						color: $spa-grey;
					}
				}
			}
		}
	}
	.body
	{
		padding: 0 2rem;
		text-align: justify;

		.description {
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
	.footer {
		background-color: $blue-light;
		padding: 1rem 2rem 2rem 2rem;
		border-top: none;

		.title {
			h4 {
				font-size: 1rem;
				font-weight: 600;
			}
		}
		ul.speaker-agenda{
			list-style: none;
			padding: 0;
			margin: 0;
			/* border: 1px solid $spa-grey; */
			li.speaker-agenda-item:last-child{
				/* border-top: 1px solid $spe-grey; */
				border-bottom: none;
			}
			li.speaker-agenda-item {
				border-bottom: 1px solid $spa-grey;
				font-size: 1rem;
				.date {
					padding: 0.5rem;
				}
				.time {
					padding: 0.5rem;
				}
				.title{
					padding: 0.5rem;
				}
				.button {
					padding: 0.5rem;
				}
			}
		}
	}
}
@media (max-width: 575px) {
	.person.modal-wrapper {
		.header {
			padding: 0 0 2rem;
			display: flex;
			text-align: left;

			.figure {
				max-width: 8rem;
				margin-bottom:0;
				img{
				}
			}
			.title {
				padding: 0 1rem;
				h3 {
					font-size: 1.2rem;
					text-transform:none;
					margin-bottom: 0;
				}
				p {
					font-size: 0.85rem;
					line-height: 1rem;
				}
				p:last-child {
					margin-bottom:0;
				}
				.company {
					font-weight: 600;
				}
				ul.contacts {
					padding: 0.5rem 0;
					margin-bottom: 0;
					li {
						padding: 0.25rem;
						a {
							color: $spa-grey;
						}
					}
				}
			}
		}
		.body
		{
			padding: 0 2rem;
		}
		.footer {
			padding: 1rem 2rem 2rem 2rem;
			.title {
				h4 {
					font-size: 1rem;
					font-weight: 600;
				}
			}
			ul.speaker-agenda{
				list-style: none;
				padding: 0;
				margin: 0;
				/* border: 1px solid $spa-grey; */
				li.speaker-agenda-item:last-child{
					/* border-top: 1px solid $spa-grey; */
					border-bottom: none;
				}
				li.speaker-agenda-item {
					border-bottom: 1px solid $spa-grey;
					.date {
						font-size: 0.8rem;
					}
					.time {
						font-size: 0.8rem;
						text-align: right;
					}
					.title{
						font-weight: 600;
						margin-bottom: 0.5rem;
					}
					.button{
						a {
							width: 100%;
						}
					}
				}
			}
		}
	}	
}
@media (min-width: 576px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}
/* -- END PERSONS LIST -- */

/* -- START SHORTLIST LIST -- */
.categories-list{
	margin-top: 2rem;
	margin-bottom: 2rem;
	
	h2.title{
		background: $gold-primary;
		padding: 1rem;
		margin-bottom: 2rem;
	}
	
	
	a{
		color:$spa-white; 
	}
	a:hover {
		text-decoration:none;
	}
	
	.company-card {
		border:none;
		margin-bottom: 4rem;
		border-radius: 0;
		height: 14rem;
		
		.card-image {
			display: flex;
			align-items: center;
			justify-content: center;
			background: white;
			height:100%;
			.card-img-top {
				width: initial;
				max-height: 100px;
			}
		}
		.card-body {
			text-align:center;
			position:relative;
			max-height: 4rem;
			.card-title{
				font-weight: 600;
				font-size: 1.1rem;
				max-height:2rem;
				color: $blue-darkest;
				margin-bottom: 0;
			}
			.card-text {
				font-size:0.9rem;
				.position {
					margin-bottom: 1rem;
				}
				.company {
					margin-bottom: 1rem;
					font-weight: 600;
				}
				.company-logo {
					margin: 1rem;
					text-align:center;
					.logo{
						max-height:60px;
						max-width: 200px;
						width: auto;
					}
				}
			}
		}
	}
}
.company.modal-wrapper {
	.top{
		padding: 2rem;
		display: flex;
		align-items: flex-end;
		.figure{
			max-width: 10rem;
			margin-bottom:0;
			img{
			}
		}
		.title {
			padding: 0 1rem;
			h3 {
				text-transform:none;
			}
			p {
				margin-bottom:0
			}
			.company {
				font-weight: 600;
			}
		}
	}
	.bottom
	{
		padding: 2rem;
	}
}
/* -- END SHORTLIST LIST -- */

/* -- START REGISTRATION -- */
.tickets {

}
.tickets .ticket-item-wrapper {
	margin: 2rem 0;
}
.ticket-item-wrapper.primary {
	margin: 0;
}
.tickets  .ticket-item  {
	height:100%;
	/* border: 1px solid #CCC; */
	margin: 0 0.5rem;
	background: $blue-primary;
	color: $black;
}
.tickets  .ticket-item.default {
}
.tickets  .ticket-item.primary {
	margin-top:0;
	margin-bottom:0;
}
.tickets  .ticket-item.sold-out {
	margin: 3rem 0;
}

.tickets  .ticket-item  header {
	background-color: inherit;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	color: $gold-primary;
	text-align:center;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 700;
	padding: 1rem;
}

.ticket-item .ticket-pricing {
	padding:1rem;
	text-align:center;
	margin: 0 !important;
	background-color: white;
}
.ticket-item .ticket-pricing .price {
	font-size:3rem;
}
.ticket-item .ticket-pricing .info {
	color:#666;
}
.tickets .ticket-item .ticket-benefits {
	padding: 0;
	margin: 0;
	background-color: white;
}
.tickets  .ticket-item  .ticket-benefits ul{
	margin-bottom:0;
	background: white;
	color: $black;
}

.tickets .ticket-item .ticket-benefits ul li {
	list-style-type:none;
	padding:0.5rem 1rem;
	font-size:0.9rem;
	background: white;
}
.tickets .ticket-item .ticket-benefits ul li:nth-of-type(2n+1) {
	background: rgba(191, 168, 123, 0.6);
}

.tickets .ticket-item footer {
	background-color: inherit;
	padding:0;
	text-align:center;
}
.tickets .ticket-item footer button {
	padding:1rem;
	border:0;
	color: $gold-primary;
	font-weight: 700;
	background:transparent;
	height:100%;
	width:100%;
	text-transform:uppercase;
	font-size:1.2rem;
	cursor: pointer;
}
/* -- END REGISTRATION -- */

/************************
 * EVENTS PAGE TEMPLATE *
 ************************/
.events-list {
	.row {
		div[class*='col-']{
			margin-bottom: 1rem;
		}
	}
	.event.card{
		height: 100%;
		.card-header {
			background-color: $spa-white;
			border-bottom: 0;
			padding: 1rem;
			padding-bottom: 0;
			text-align: center;
			figure {
				margin-bottom: 0;
				.card-img-top{
				}
			}
		}
		.card-body {
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.card-title {
				font-size: 1.2rem;
				margin-bottom: 2rem;
				text-transform: uppercase;
			}
			.card-date {
				margin-bottom: 0;
			}
			.card-location {
				margin-bottom: 1rem;
			}
			.card-button{
				margin-bottom: 0;
				.btn {
					padding: 1rem;
					width: 100%;
				}
			}
		}
		
	}
}
@media (max-width: 575px) {}
@media (min-width: 576px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}


/**
 * ELEMENTOR
 */
body:not(.elementor-editor-active) .elementor-menu-anchor:before {
	content: "";
	display:block;
	height: 135px; /* fixed header height*/
	margin: -135px 0 0; /* negative fixed header height */
	visibility: hidden;
	pointer-events: none;
}
@media (max-width: 575px) {}
@media (min-width: 576px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}